<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="jumbotron">
        <h1><%= title %></h1>
    </div>

    <p>
    <form method="post" action="./scan">
        <input type="submit" class="btn btn-lg btn-primary"></input>
    </form>
    </p>

  </body>
</html>
